@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body{
  background-color:#33425B;
}
.container{
 overflow:auto;
}
.menu {
float: left;
width: 80%;
text-align: center;
margin-top:50%;

}

.menu a {
background-color: #33425B;
padding: 8%;
margin-top: 40px;
display: block;
width: 100%;
color: white;
text-decoration:none;
font-family: 'Roboto Slab', serif;
}
.menu a:hover{
background-color:#D8E9F0;
color:#33425B;
}


.heading{
text-align:center;
font-size:18px;
margin:30px;
font-family: 'Roboto Slab', serif;
}
td, tr{
text-align:center;
}
.txtheading{
display:flex;
margin:10px;
}
.head-img{
height: auto;
width: 15%;
margin-left:18%;
margin-right:7%;
min-height:40px;
min-width:120px;
}
.head-title{
font-size:calc(1vw + 18px);
color: white;
margin-top:20px;
font-family: 'Crimson Text', serif;
}
.head-title a{
color:white;
text-decoration: none;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
  .card{
    margin:15px;
  }
  .zoom{
    transition: transform .2s;
   }
   .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    z-index:2;
  }
  .form-control:focus {
    box-shadow: none;
    border-color: #33425B
}

.profile-button {
    background: #F33535;
    box-shadow: none;
    border: none
}
.updateinfo{
    background-color:#F33535 !important;
    color:white;
}
.updateinfo:hover{
    background: #33425B !important;
}
.profile-button:hover {
    background: #33425B
}

.profile-button:focus {
    background: #33425B;
    box-shadow: none
}
.profile-button:active {
    background: #33425B;
    box-shadow: none
}

.back:hover {
    color: #33425B;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.updateinfo:hover {
    background: #33425B;
    color: #fff;
    cursor: pointer;
    border: solid 1px #33425B;
}
h4{
    font-family: 'Roboto Slab', serif;
}
.details{
    font-family: 'Roboto Slab', serif;
    font-size:18px;
}
.form-control{
    font-family: 'Source Sans Pro', sans-serif;
}
.labels{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    margin:10px;
}